.error {
    margin: 40vh auto;
    width: 50vw;
    border: 2px solid red;
    border-radius: 20px;
    text-align: center;
}
.center__form{
    margin: 40vh auto;
    width: 50vw;
}
.center__text{
    text-align: center;
}
.stylist__form{
    padding: 20px;
    border: 2px solid black;
}